@font-face {
    font-family: 'NotCourierSans';
    src: local('NotCourier'), local('NotCourierSans'), url('400.woff2') format('woff2'), url('400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NotCourierSans';
    src: local('NotCourierSans'), local('NotCourierSans-Bold'), url('700.woff2') format('woff2'), url('700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
